<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Suas consultas cadastrais</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="logout()">
      <ion-button>
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-card no-margin margin-bottom class="full-width" *ngFor="let item of items" (click)="opem(item.idcad_cadastro_consulta)">
        <ion-card-header>
          <h2 ion-text color="dark"> Consulta KLIOS{{item.idcad_cadastro_consulta}}</h2>
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon> 	
            <h3 ion-text color="dark">Status: {{item.consultada	}}</h3>
          </ion-item>
          <ion-item>
            <h4 ion-text color="dark">Solicitada em {{item.created_at	}}</h4>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-button expand="full" size="large" color="success" (click)="nav()">Solicitar Consulta</ion-button>

</ion-content>