<ion-content padding id="page6">
  <div  class="logo" >
    <!--<img src="assets/imgs/adagio.png" alt="" >-->
  </div>
  
  <form [formGroup]="formGroup">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>Sentinela</h4>
          </div>
          <div padding>
            <ion-item>
                <ion-input type="email" formControlName="txtEmail" maxLength="50" placeholder="E-mail"></ion-input>
            </ion-item>
            <ion-item  *ngIf="!formGroup.controls.txtEmail.valid && formGroup.controls.txtEmail.touched">
              <p class="p-invalid">Informe um email valido. </p>
            </ion-item>
    
            <ion-item>
              <ion-input type="password" formControlName="txtPassword" maxLength="10" placeholder="Senha"></ion-input>
            </ion-item>
            <ion-item *ngIf="!formGroup.controls.txtPassword.valid && formGroup.controls.txtPassword.touched">
              <p class="p-invalid">Informe uma senha valida. </p>
            </ion-item>
            <ion-item>
              <a (click)="passwordRecovery()">Esqueceu a senha?</a>
            </ion-item>
          </div>
    
          <div padding>
            <ion-button size="large" expand="block" id="login-button2" ion-button  color="stable" block (click)="login()" [disabled]="!formGroup.valid">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
