<ion-header>
  <ion-toolbar color="primary">
      <ion-title>
        Cadastre-se
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="page5">
  <form [formGroup]="formGroup">
    <ion-list id="signup-list1">
      <ion-item id="signup-input1">
        <ion-label >
          Nome
        </ion-label>
        <ion-input type="text" formControlName="txtName" maxLength="50"></ion-input>
      </ion-item>
      <ion-item  *ngIf="!formGroup.controls.txtName.valid && formGroup.controls.txtName.touched">
        <p class="p-invalid">Informe um nome valido. </p>
      </ion-item>

      <ion-item id="signup-input2">
        <ion-label >
          Email
        </ion-label>
        <ion-input type="email" formControlName="txtEmail" maxLength="50"></ion-input>
      </ion-item>
      <ion-item  *ngIf="!formGroup.controls.txtEmail.valid && formGroup.controls.txtEmail.touched">
        <p class="p-invalid">Informe um email valido. </p>
      </ion-item>

      <ion-item id="signup-input3">
        <ion-label >
          Senha
        </ion-label>
        <ion-input type="password" formControlName="txtPassword" maxLength="10"></ion-input>
      </ion-item>
      <ion-item  *ngIf="!formGroup.controls.txtPassword.valid && formGroup.controls.txtPassword.touched">
        <p class="p-invalid">Informe uma senha valida. </p>
      </ion-item>

    </ion-list>
    <button id="signup-button1" ion-button color="stable" block (click)="signUp()" [disabled]="!formGroup.valid" >
      Cadastrar
    </button>
  </form>
</ion-content>
